{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_list.css' %}">
    <title>Список опросов</title>
</head>
<body>
    <h1>Список опросов</h1>
    <ul>
      {% for survey in surveys %}
        <li><a href="{% url 'surveys:survey_detail' pk=survey.pk %}">{{ survey.title }}</a></li>
      {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="logout-button">Logout</button>
        </form>
    {% endif %}
</body>
</html>
