body {
    font-family: 'Roboto', sans-serif;
    background: #f3e5f5;
    margin: 0;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: #202124; 
    text-align: center;
    margin-bottom: 30px;
}
.question {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
}

.required-highlight {
    border: 2px solid red;
}

.required-message {
    display: block;
    color: red;
}

.question p {
    font-size: 14px;
    color: #202124;
    margin-top: 0;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s;
}

input[type="text"]:focus {
    border-bottom: 2px solid #9c27b0;
}

input[type="text"]::placeholder {
    color: #757575;
}

input[type="text"]:focus::placeholder {
    color: #757575;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button[type="submit"] {
    background: #9c27b0;
    color: white;
    border: none;
    padding: 10px 24px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"]:hover {
    background: #7b1fa2;
}

.error-message {
    margin-top: 5px;
    font-size: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
